*.vscode
*.m~
bin/
build/
src/packageDir.h
maps/*
opencv/
opencv_contrib/
data/
params/output/results/*
params/output/RosarioV2Ground/*
python/venv/
python/SuperGluePretrainedNetwork/
python/RoMa
python/__pycache__/
python/received_*
cppzmq/